.title {
  background-color: #c2e8f9;
  border-radius: 30px;
  text-align: center;
  margin: 30px;
}

h1 {
  padding: 30px 30px 15px 30px;
}

.title p {
  padding-bottom: 15px
}

.result {
  text-align: center;
  min-height: 400px;

}
table {
  margin: 0 auto;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid black;
}

tbody {
  height: 500px;
  overflow: auto;
}

th {
  min-width: 200px;
}
